/mooc-java-programming-ii/part08-Part08_01.Cubes/target/
/mooc-java-programming-ii/part08-Part08_02.AverageOfPositiveNumbers/target/
/mooc-java-programming-ii/part08-Part08_03.LiquidContainers/target/